
.hero1{
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to right,#5309ff ,#17014b);
    background-clip: text;
    color: transparent;
    font-size: 75px;
    font-weight: 300px;
}
header {
            background:transparent;
            padding: 20px 0;
            border: 1px solid #e5e5e5;
            position: sticky;
            top: 0;
            z-index: 100;
            
}
 nav {
            display: flex;
            justify-content: center;
            align-items: center;
            backdrop-filter: blur(45px);
        }
.nav-links a {
            text-decoration: none;
            margin: 0 0 100px 100px;
            color: #666;
            font-weight: 500;
            transition: color 0.3s ease;
        }

.nav-links a:hover {
        color: #17014b;
        }       
.logo{
    display: flex;
    justify-content: left;
    align-items: center;
}

